//fonts
$font: 'Spartan', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

//Colors
$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkMagenta: hsl(303, 10%, 53%);
$LightMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
